.wrapper {
  transform: skewX(-10deg);
  height: 95px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 16px;
  position: relative;
  padding: 0 25px;
  margin: 15px;
  margin-bottom: 50px;

  &.presentational {

    .position,
    .gain,
    .points-wrapper {
      display: none;
    }
  }

  &.team-card {
    padding: 15px 25px;
  }

  .gain {
    .arrow {
      width: 30px;
      height: 20px;
    }

    font-size: 20px;
    position: absolute;
    top: -40px;
    right: 20px;
  }

  .country {
    width: 30px;
    height: 23px;
  }

  .points-wrapper {
    transform: skewX(10deg);
    font-size: 30px;
  }

  .team-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: skewX(10deg);

    .car {
      width: 40px;
      font-size: 20px;
    }
  }

  .drivers-wrapper {
    transform: skewX(10deg);
    display: flex;
    flex-direction: column;

    .name-wrapper {
      width: 200px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        font-size: 15px;
        margin-left: 10px;
      }
    }
  }

  .position {
    transform: skewX(10deg);
    font-size: 40px;
    position: absolute;
    top: -70px;
    left: 40px;
  }

  &.Red-Bull {
    background-image: linear-gradient(to right, #FF621c, #FDFC03);
  }

  &.Ferrari {
    background-image: linear-gradient(to right, #FA021E, #82010A);
  }

  &.Mercedes {
    background-image: linear-gradient(to right, #014146, #03bfb5);
  }

  &.McLaren {
    background-image: linear-gradient(to right, #ff9700, #035EDB);
  }

  &.Williams {
    background-image: linear-gradient(to right, #0921B7, #00a2de);
  }

  &.Alpha-Tauri {
    background-image: linear-gradient(to right, #202e3c, #B8BDBE);
  }

  &.Alfa-Romeo {
    background-image: linear-gradient(to right, #BF2052, #8b0025);
  }

  &.Aston-Martin {
    background-image: linear-gradient(to right, #02584F, #C9DA00);
  }

  &.Haas {
    background-image: linear-gradient(to right, #005BA5, #E52027);
  }

  &.Alpine {
    background-image: linear-gradient(to right, #111C2B, #0757AA);
  }

  &.Res {
    background-color: #3b3b3b;
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    width: 80%;
  }
}
