<div class="wrapper {{team.split(' ').join('-')}}"
  [ngClass]="{ 'team-card': f1Team, 'presentational': isPresentational }">
  <p class='position'>{{position}}</p>
  <div *ngIf='gain !== 0' class='gain' [ngClass]=" { down: gain < 0, up: gain> 0 }">
    <span class="arrow"></span>{{ showGain(gain) || "" }}
  </div>
  <div class='drivers-wrapper'>
    <div *ngFor='let driver of drivers' class='name-wrapper'>
      <img class='country' src={{getCountryFlagFromCode(driver.country)}} />
      <p>{{driver.name}}</p>
    </div>
  </div>
  <div class='points-wrapper'>
    {{points}}
  </div>
  <div class="team-wrapper">
    <img *ngIf="team !== 'Res'" class="car" src="assets/{{ team }}.png" /><span class='car' *ngIf="team === 'Res'">
      Res</span>
  </div>
</div>
