@import './../../colors.scss';

.navbar {
  display: flex;
  background-color: $background;
  color: white;
  box-shadow: none;
  padding: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .tierSelect {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    color: #525161;
    padding: 10px 15px;
    margin-right: 20px;
  }

  .logo-wrapper {
    margin-right: 50px;
  }

  .container {
    width: 100%;
  }

  .f1-logo {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;

    &.nav-link {
      transform: skewX(-10deg);
      padding: 10px;
      background-color: white;
      border-radius: 8px;
      color: #525161;
      padding: 10px 15px;

      span {
        transform: skewX(10deg);
      }

      &:hover {
        cursor: pointer;
      }

      &.active-link {
        background-image: linear-gradient(#DC0F29, #8F010E);
        color: white;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 5px;

    a {
      font-size: 12px;
    }

    .logo-wrapper {
      a {
        font-size: 14px;
      }

      text-align: center;
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
    }

    .f1-logo {
      width: 25px;
      margin-left: 10px;
    }

    .xbox-logo {
      width: 15px;
    }
  }
}
