@import './../../colors.scss';

.wrapper {
  align-items: flex-start;

  table {
    width: 100%;

    td {
      color: $text-primary;
    }
  }

  .notElligible {
    color: red;
  }

  .nameContainer {
    text-align-last: left;
    display: flex;
    align-items: center;
  }

  .clean {
    width: 30px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
}
