<div class="wrapper">
  <Button (click)="generateStandings()">Generate players</Button>
  <Button (click)="resetResults()">Reset results</Button>
  <Button (click)="saveStandings()">Save</Button>
</div>
<div class="wrapper">
  <table>
    <tr>
      <th>Gamertag</th>
      <th>Team</th>
      <th>Position</th>
      <th>Fastest lap ?</th>
      <th>Clean race ?</th>
      <th>Penalty Points</th>
      <th>Additional Penalties</th>
    </tr>
    <tr *ngFor="let player of players; index as i">
      <td>{{ player.name }}</td>
      <td *ngIf="player.team !== 'Res'">
        <img class="car" src="assets/{{ player.team }}.png" />
      </td>
      <td *ngIf="player.team === 'Res'">
        <select class="teamSelect" [(ngModel)]="player.provisionalTeam">
          <option *ngFor="let team of teams" [ngValue]="team.name">{{team.name}}</option>
        </select>
      </td>
      <td>
        <input class="positionInput" type='number' [(ngModel)]="player.currentRacePosition" />
      </td>
      <td>
        <input type='checkbox' [(ngModel)]="player.hasFastestLap" />
      </td>
      <td>
        <input type='checkbox' [(ngModel)]="player.hasCleanRace" />
      </td>
      <td>
        <input class="penaltiesInput" type='number' [(ngModel)]="player.penaltyPoints" />
      </td>
      <td>
        <input class="additionalPenalties" type='text' [(ngModel)]="player.nextRacePenalty" />
      </td>
    </tr>
  </table>
  <button (click)="generateRaceStandings()">Generate race standings</button>
  <table id='capture-standings'>
    <tr>
      <th width="30%">Position</th>
      <th>Gamertag</th>
      <th>Team</th>
      <th width="10%">Points</th>
    </tr>
    <tr *ngFor="let result of results; index as i">
      <td>
        <span class="medal"></span><span class="position">{{ result.position }}</span>
      </td>
      <td>{{ result.name }}</td>
      <td>
        <img class="car" src="assets/{{ result.team }}.png" />
      </td>
      <td>{{ result.points }}</td>
    </tr>
  </table>
</div>
