.wrapper {
  display: flex;

  .season {
    p:first-child {
      font-weight: bold;
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    display: block;
  }
}
