/* You can add global styles to this file, and also import other style files */
@import './colors.scss';

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: white;
}

.mat-progress-spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: $background;
  color: $text-primary;
  font-family: F1 !important;
  margin: 0;
}

@font-face {
  font-family: F1 Bold;
  src: url(./assets/Formula1-Bold_web.woff);
}

@font-face {
  font-family: F1;
  src: url(./assets/Formula1-Regular.woff);
}

.title {
  font-family: F1 Bold;
  text-shadow: 2px 2px $secondary;
  text-align: center;
}

.title .xbox-logo {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.title .cup-logo {
  width: 40px;
  margin-right: 20px;
}

.title .f1-logo {
  width: 70px;
  margin-right: 20px;
}

.title .xbox-logo,
.title .cup-logo,
.title .f1-logo,
.title h1 {
  display: inline-block;
  vertical-align: middle;
}

table {
  width: 600px;
  border-collapse: collapse;
}

th {
  background-image: linear-gradient(#DC0F29, #8F010E);
  color: white;
  box-shadow: none;
}

th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

td,
th {
  text-align: center;
  padding: 8px;
}

.car {
  width: 30px;
}

.arrow {
  margin-right: 5px;
}

.up .arrow {
  display: inline-block;
  vertical-align: text-bottom;
  width: 20px;
  height: 15px;
  background-image: url(./assets/green-arrow.png);
  background-size: cover;
}

.down .arrow {
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: text-bottom;
  width: 20px;
  height: 15px;
  background-image: url(./assets/red-arrow.png);
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.up {
  color: #9ace31;
}

.down {
  color: #bb161e;
}

.mercedes {
  color: #00D2BE;
}

.ferrari {
  color: #C00000;
}

.redbull {
  color: #0600EF;
}

.haas {
  color: #787878;
}

.astonmartin {
  color: #02584F;
}

.alphatauri {
  color: #242E3A;
}

.mclaren {
  color: #FF8700;
}

.alfaromeo {
  color: #960000;
}

.alpine {
  color: #0757AA;
}

.williams {
  color: #0082FA;
}

@media screen and (max-width: 720px) {
  .wrapper {
    table {
      width: 100%;
      font-size: 12px;
    }

    .car {
      width: 15px;
    }
  }

  body {
    background-size: auto;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
